<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="false" hostingModel="inprocess" arguments="%LAUNCHER_ARGS%">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="COMPLUS_ForceENC" value="1" />
          <environmentVariable name="Hosting:Environment" value="Development" />
          <environmentVariable name="MicroServiceTriggerServerPort" value="6001" />
          <environmentVariable name="PublisherServerPort" value="6000" />
          <environmentVariable name="PublisherServerIP" value="127.0.0.1" />
          <environmentVariable name="MicroServiceTriggerServerIP" value="127.0.0.1" />
          <environmentVariable name="MicroServiceListenServerIP" value="127.0.0.1" />
          <environmentVariable name="MicroServiceListenServerPort" value="6003" />
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44382" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
  <!--<system.webServer>
    <rewrite>
      <rules>
        <rule name="HTTPS Redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>-->
</configuration>